extends layout

block content
  header(class="main-header")
    nav
      img(src="/images/better-logo.png", alt="book-logo", class="header-logo")
      a(href="/" class="main-title")
        h1 gReads

  main
    section.main-home
      section.home-container
        container.authors-home
          container.authors-book-img-l
            img(src="/images/marquez.jpg", alt="marquez", class="home-main-img")
          h1
            a(href="/authors") authors
        container.books-home
          container.authors-book-img-r
            img(src="/images/murakami-books.jpeg", alt="murakami-books", class="home-main-img")
          h1
            a(href="/books") books
  footer
