doctype html
html
  head
    title= gReads
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Alice|Lora|Old+Standard+TT|Poiret+One')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/index.js")
  body
    block content
