/*font-family: 'Lora', serif;
font-family: 'Old Standard TT', serif;
font-family: 'Poiret One', cursive;
font-family: 'Alice', serif;*/

body {
  display: flex;
  flex-direction: column;
  margin:0;
}

a {
  color: #00B7FF;
}

header{
  width: 100%;
  height:12vh;
  margin:0;
  background-image:url('/images/books6.jpg');

}

nav{
  width: 100%;;
  height:100%;
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 4fr;
  grid-template-rows:1fr;
}

.nav-accent-img-container{
  background-image:url('/images/books6.jpg');
  background-size: cover;
  overflow:hidden;
  grid-column: 4/5;
  grid-row:1/2;
  opacity: .5;
}

.header-logo{
  max-height: 50px;
  grid-column: 1/2;
  margin-top:1em;
  margin-left: 1em;
  flex-grow: 0;

}

.main-title{
  grid-column: 2/3;
  /*margin-left:-1em;*/
  font-family: 'Alice', serif;
}

.main-title h1{
  font-size: 200%;
  margin:0;
  margin-top:.5em;
}

main{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  width:100vw;
  min-height:75%;
}


.sub-header{
  background:brown;
  width:100vw;
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




footer{
  width:100vw;
  display: flex;
  flex-grow: 1;
  height:10vh;
  /*position: fixed;*/
  background: rgb(20,20,50);
}

/*index*/
.main-home{
  background:brown;
  background-image:url('/images/books4.jpeg');
  background-size:cover;
  /*background-blend-mode:multiply;*/
  display: flex;
  flex-direction: column;
  flex-grow: 1;


}

.home-container{
  width:100%;
  height:100%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.authors-home, .books-home{
  width:45vw;
  height:60vh;
  margin:0;
  background:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:5px;
  background-size: contain;
  font-family: 'Old Standard TT', serif;
  color: white;
  font-size: 180%;
  text-shadow: 0 2px  2px rgb(50,20,20);
  line-height:50%;
  border-radius:2px;
  box-shadow:0 0px  5px rgb(50,20,20);
  /*background-blend-mode: darken;*/
}

.authors-home{
    background-image: url('/images/bookopenL.jpg');
    background-size: cover;
    background-position: right;

}

.books-home{
    background-image: url('/images/bookopenR.jpg');
    /*background-blend-mode: multiply;*/
    background-size: cover;
    background-position: left;

}

.authors-book-img-l, .authors-book-img-r{
  width:90%;
  height:70%;
  overflow:hidden;
  border-radius:2px;
  box-shadow:0 0px  5px rgb(50,20,20);


}
/*
.authors-book-img-l{


}

.authors-book-img-r{

  background-size: contain;
}*/

.home-main-img{
  object-fit: cover;
  width: 100%;
}


/*books page*/

.main-contain-books{
  background-image: url('/images/books5.jpeg');
  background-color:brown;
  background-position: right;
  /*filter:blur(20px);
   -webkit-filter:blur(20px);*/
  background-size:cover;
  width:100%;
  height:100%;

}

.authors-header, .books-header{
  /*display: flex;*/
  display: inline-block;
  background:white;
  margin:1em;
  padding:.5em;
  height:51%;
  border-radius:2px;

  /*line-height: 50%;*/
  /*align-items: center;*/
}

.subheader > div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  width:200%;

}

.add-btn{
  /*align-content:flex-end;*/
}

.books-list{
  align-self: center;
  margin-left: 10%;
  margin-right:10%;
}

.each-book-sec{
  display: grid;
  align-self:center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  width:80%;
  /*height:60%;*/
  background:white;
  margin:3em;
  border-radius:2px;

}

.book-cover-container{
  grid-column:1/2;
  grid-row: 1/2;
  max-width:200px;
  margin:20px 10px 10px 20px;
  /*overflow: hidden*/

}

.book-cover{
  object-fit: contain;
  max-width:200px;

}

.each-book-header{
  font-family: 'Lora', serif;
  grid-column: 2/4;
  grid-row: 1/2;
  margin:20px 20px 20px 10px;
}

.book-description{
  grid-column:2/4;
  grid-row: 2/3;
}

.edit-btn, .remove-btn{
  /*float:right;*/
  margin:.5em;
  grid-column:3/4;
}

.book-description{
  white-space: normal;
  grid-row:2/3;
  grid-column:1/4;
  margin:10px 20px 20px 20px;
  text-align: justify;
}

/*newbook*/

.newbook-main{
  display: flex;
  /*flex-direction:column;*/
  width:50%;
  align-items:space-around;
  align-content:space-around;
  justify-content: space-around;
  height:100vh;
  align-self: center;
}
.newbook-main *{
  width:100%;
  margin:10px;
}

.author-list{
  width:80%;
  display: flex;
}

.remove-btn-form{
  /*float:right;*/
}

a, button{
  text-decoration: none !important;
  color:inherit !important;
  cursor:pointer !important;
}
